<% layout('layouts/boilerplate') %>
<h1>
  Lesson For: <%=detailedLesson.class%> -- <%=detailedLesson.title%> -- Period
  <%=detailedLesson.period%>
</h1>
<h3><%=detailedLesson.title%></h3>
<h5>Starter</h5>
<p><%=detailedLesson.starter%></p>
<h5>Main</h5>
<p><%=detailedLesson.main%></p>
<h5>Plenary</h5>
<p><%=detailedLesson.plenary%></p>
<form action="/lessons/<%=detailedLesson._id%>?_method=delete" method="post">
  <a class="btn btn-warning" href="/lessons/<%=detailedLesson._id%>/update"
    >Edit This Lesson</a
  >
  <button class="btn btn-danger">Delete This Lesson</button>
</form>
<a href="/lessons">Go Back to All Lessons</a>
<% layout('layouts/boilerplate') %>
