<% layout('layouts/boilerplate') %>
<h1 class="text-center">Update Lesson</h1>
<div class="col-6 offset-3">
  <form action="/lessons/<%=lessonToUpdate._id%>?_method=put" method="post">
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="class">Class</label>
      <input
        class="form-control"
        type="text"
        name="lesson[class]"
        id="class"
        value="<%=lessonToUpdate.class%>"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="title">Title</label>
      <input
        class="form-control"
        type="text"
        name="lesson[title]"
        id="title"
        value="<%=lessonToUpdate.title%>"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="starter">Starter</label>
      <textarea
        class="form-control"
        name="lesson[starter]"
        id="starter"
        cols="30"
        rows="3"
      >
  <%=lessonToUpdate.starter%></textarea
      >
    </div>
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="main">Main Task</label>
      <textarea
        class="form-control"
        name="lesson[main]"
        id="main"
        cols="30"
        rows="3"
      >
  <%=lessonToUpdate.main%></textarea
      >
    </div>
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="plenary">Plenary</label>
      <textarea
        class="form-control"
        name="lesson[plenary]"
        id="plenary"
        cols="30"
        rows="3"
      >
  <%=lessonToUpdate.plenary%></textarea
      >
    </div>
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="date">Date</label>
      <input
        class="form-control"
        type="text"
        name="lesson[date]"
        id="date"
        value="<%=lessonToUpdate.date%>"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <label class="input-group-text" for="period">Period</label>
      <input
        class="form-control"
        type="number"
        name="lesson[period]"
        id="period"
        value="<%=lessonToUpdate.period%>"
      />
    </div>
    <button class="btn btn-success">Update Lesson</button>
  </form>
  <a href="/lessons/<%=lessonToUpdate._id%>">Back to Lesson Details</a>
</div>
